@model WebApplication3.Models.LogClass1

@{
    ViewBag.Title = "Delete";
}

<h2>Delete User Account</h2>
<p style=" color:darkblue"> Welcome : @ViewBag.user  &ensp; Role: @ViewBag.role    &ensp; @Html.ActionLink("Logout", "sout") </p>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LogClass1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Confirm_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Confirm_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
